<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>userImage</key>
		<string>1.jpg</string>
		<key>userName</key>
		<string>我们这一家</string>
		<key>time</key>
		<string>昨天</string>
		<key>subtilte</key>
		<string>哈哈，好开心</string>
	</dict>
	<dict>
		<key>userImage</key>
		<string>2.jpg</string>
		<key>userName</key>
		<string>宝贝</string>
		<key>time</key>
		<string>昨天</string>
		<key>subtilte</key>
		<string>哈哈，好开心！！么么哒</string>
	</dict>
	<dict>
		<key>userImage</key>
		<string>3.jpg</string>
		<key>userName</key>
		<string>iOS1520班级群</string>
		<key>time</key>
		<string>今天</string>
		<key>subtilte</key>
		<string>考试啦！</string>
	</dict>
	<dict>
		<key>userImage</key>
		<string>4.jpg</string>
		<key>userName</key>
		<string>头疼</string>
		<key>time</key>
		<string>昨天</string>
		<key>subtilte</key>
		<string>卤肉火锅！</string>
	</dict>
	<dict>
		<key>userImage</key>
		<string>5.jpg</string>
		<key>userName</key>
		<string>美到生活群</string>
		<key>time</key>
		<string>昨天</string>
		<key>subtilte</key>
		<string>饿了么链接！</string>
	</dict>
	<dict>
		<key>userImage</key>
		<string>6.jpg</string>
		<key>userName</key>
		<string>试试</string>
		<key>time</key>
		<string>18：45</string>
		<key>subtilte</key>
		<string>试试就试试</string>
	</dict>
	<dict>
		<key>userImage</key>
		<string>7.jpg</string>
		<key>userName</key>
		<string>微信支付</string>
		<key>time</key>
		<string>昨天</string>
		<key>subtilte</key>
		<string>微信支付凭证</string>
	</dict>
	<dict>
		<key>userImage</key>
		<string>8.jpg</string>
		<key>userName</key>
		<string>中国移动10086</string>
		<key>time</key>
		<string>昨天</string>
		<key>subtilte</key>
		<string>快速充话费</string>
	</dict>
	<dict>
		<key>userImage</key>
		<string>9.jpg</string>
		<key>userName</key>
		<string>跨白</string>
		<key>time</key>
		<string>昨天</string>
		<key>subtilte</key>
		<string>聊天</string>
	</dict>
	<dict>
		<key>userImage</key>
		<string>10.jpg</string>
		<key>userName</key>
		<string>在你身边</string>
		<key>time</key>
		<string>昨天</string>
		<key>subtilte</key>
		<string>OK</string>
	</dict>
	<dict>
		<key>userImage</key>
		<string>11.jpg</string>
		<key>userName</key>
		<string>出门向游走</string>
		<key>time</key>
		<string>昨天</string>
		<key>subtilte</key>
		<string>我通过了你的好友验证</string>
	</dict>
	<dict>
		<key>userImage</key>
		<string>12.jpg</string>
		<key>userName</key>
		<string>流星</string>
		<key>time</key>
		<string>昨天</string>
		<key>subtilte</key>
		<string>店庆送表，朋友的店</string>
	</dict>
	<dict>
		<key>userImage</key>
		<string>13.jpg</string>
		<key>userName</key>
		<string>半根烟</string>
		<key>time</key>
		<string>昨天</string>
		<key>subtilte</key>
		<string>好抽吗？</string>
	</dict>
	<dict>
		<key>userImage</key>
		<string>14.jpg</string>
		<key>userName</key>
		<string>千峰新手村</string>
		<key>time</key>
		<string>昨天</string>
		<key>subtilte</key>
		<string>村长你好，村长再见</string>
	</dict>
	<dict>
		<key>userImage</key>
		<string>15.jpg</string>
		<key>userName</key>
		<string>白龙马</string>
		<key>time</key>
		<string>昨天</string>
		<key>subtilte</key>
		<string>取经去咯！！</string>
	</dict>
</array>
</plist>
